<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003804851680-g4kfb4rc5lkj5b4rclp8845isse455c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003804851680-g4kfb4rc5lkj5b4rclp8845isse455c8</string>
	<key>API_KEY</key>
	<string>AIzaSyCLj9F5IIzJniJ252TJmwosoDqxjsat_xI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003804851680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthExample</string>
	<key>PROJECT_ID</key>
	<string>flutterauthexample-429b8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauthexample-429b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003804851680:ios:6fafb5d412db9004e7bf85</string>
</dict>
</plist>